body{
  font-family: 'Trefoil sans'
}

.mainAN{
  width: 300px;
}
.titleAN{
  color: #57b372;
  font-size: 13pt;
  font-weight: 600;
  margin-bottom: -5px !important;
  text-align: center;
  display: inline-block;
}
.contentAN{
  padding: 10px 10px 10px 20px;
  width: 765px;
  height: 220px;
  line-height: 20px;
}